.header-nav {
    list-style: none;
}

.header-nav > ul {
    margin: 0;
    padding: 0;
}

.header-nav .nav-icon {
    font-size: 22px;
    color: #fff;
    margin-right: 25px;
    position: relative;
    cursor: pointer; 
}

.header-nav .badge-number {
    position: absolute;
    inset: -2px -5px auto auto;
    font-weight: normal;
    font-size: 12px;
    padding: 3px 6px;
}

.header-nav .notifications {
    display: none; 
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    box-shadow: 0 0 15px rgba(1, 41, 112, 0.1);
    z-index: 9999;
    padding: 10px;
    border-radius: 4px;
}

.header-nav .notifications.show {
    display: block; 
}

.header-nav .notifications .notification-item {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    transition: 0.3s;
}

.header-nav .notifications .notification-item i {
    margin: 0 20px 0 10px;
    font-size: 24px;
}

.header-nav .notifications .notification-item h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.header-nav .notifications .notification-item p {
    font-size: 13px;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 5px;
    color: #919191;
}

.header-nav .notifications .notification-item:hover {
    background-color: #f6f9ff;
}
