.list-fare-btn1 {
    background: linear-gradient(#FFF08D, #FFBC07);
    color: #000;
    font-size: 18px;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.list-fare-btn2 {
    background: none;
    border: 1px solid #FFBC07;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
}


.button-group {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.list-fare-btn1,
.list-fare-btn2 {
  flex: 1;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .button-group {
    flex-direction: column;
  }

  .list-fare-btn1,
  .list-fare-btn2 {
    width: 100%;
  }
}