.car-main-heading {
    color: #FFBC07;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 50px;
}

.car-lable {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.car-data {
    background: #3D4550;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 10px;
}

.car-second-heading {
    color: #FFBC07;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.vehicle-registration {
    background: #3E4550;
    border-radius:10px ;
}

.vehicle-heading {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding-top: 10px;
}

.vehicle-registration-img {
    height: 150px;
    width: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* .driving-license-img{
    height: 150px;
    width: 190px;
    border-radius: 10px;
    margin-bottom: 20px;
} */

.driving-license-img {
        height: 150px;
        width: 100%;
        margin-bottom: 20px;
    }

@media (max-width: 768px) {
    .box1, .vehicle-registration, .driving-license {
        padding: 15px;
    }

    .box1-img {
        height: 60px;
        width: 60px;
    }

    .captain-heading {
        font-size: 20px;
    }

    .car-data {
        font-size: 18px;
    }

    .vehicle-registration-img, .driving-license-img {
        height: 200px;
        width: 100%;
    }
}